
<div class="row" style="margin-top: 60px;">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      
        <img [src]='imagePath' class="detail-img-prop" style="float: right;">
      
        
      
      <!--  -->
    </div>
    <div class="col-md-8" style="margin-top: 50px;">
        <p><span style="font-weight: 700;font-size:medium; font-size: 25px;">Something Went Wrong! Please try again.</span></p><br>
        <p><button (click)="btnBackClick()"  class="btn btn-sm btn-primary btn-prop">Back to Homepage</button></p>
    </div>
  </div>